<% include partials/header %>

<div class="container">


<h1 class="center justify-content-center" style="padding: 30px;"><a href="https://www.google.com/search?q=<%= place.name %>"><%=place.name %></a></h1>
  <div class="center text-center justify-content-center" style="display:flex; flex-wrap: wrap;  text-align: center;">
      <div style="display: flex;" class="justify-content-center">
          <div class="thumbnail">
              <img src="<%=place.image%>" alt="">
        <p style="padding: 10px"><%=place.description%></p>
          </div>
      </div>
      <!-- <a href="/places/<%= place._id %>/delete"><Button class="ui red button">Delete</Button></a>
      <Button class="ui blue button">Edit</Button> -->
      <a href="/places/<%= place._id %>/edit" ><button class="ui blue button" >Edit</button></a>
      <form id="deleteForm" action="/places/<%= place._id %>?_method=DELETE" method="POST">
          <button class="ui red button">Delete</button>
      </form>
  </div>





      <div class="panel-group" style="margin-top: 25px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title clearfix">
                <a data-toggle="collapse" href="#comments" style="font-size: 20px;" id="commentslink" >Comments <i class="sort down icon" id="commentsarrowicon"></i></a>
                <Button id="newcommentbutton" class="ui green button commentButton" data-toggle="collapse" data-target="#newcomment">New comment</Button>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="newcomment">
              <form class="ui form" action="/places/<%= place._id %>/comment?_method=PUT" method="POST" style="padding: 30px;">
                  <div class="field">
                          <label for="#newcommentbox"><strong>Comment</strong></label>
                          <textarea name="comment" id="newcommentbox"  rows="5" required></textarea>
                  </div>
                  <div class="field" style="visibility: hidden; max-height: 0;">
                      <textarea name="author" id="authorfield" ></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" id="submitcommentbutton" class="ui blue button commentButton">
                  </div>
              </form>
            </div>
            <div id="comments" class="panel-collapse collapse in">
              <ul class="list-group">
                <% place.comments.reverse().forEach(function(comment) { %>
                <li class="list-group-item clearfix"  id="comment">
                  <span style="white-space: normal; display: inline-block; max-width: 90%;">
                      <strong><%= comment.author %></strong> 
                      <div id="commentmessage"><%= comment.message %></div>
                  </span>
                  <form id="deleteForm" action="/places/<%= place._id %>/comment/<%= comment.id %>?_method=DELETE" method="POST">
                  <button class="ui orange basic button icon commentButton" id="deleteCommentButton">
                    <i class="trash alternate icon"></i>
                  </button>
                </form>
                  <div id="commentdate"> <p><%= comment.date.toLocaleString('en-us') %></p> </div>


                </li>
                <% }) %>
              </ul>
            </div>
            
          </div>
          
        </div>

</div>

<% include partials/footer%>
